*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-decoration: none;
}
.nav-bar{
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  background:white;
    display: flex;
    align-items: center;
   justify-content: center;
}
.nav-bar .logo{
    color:rgb(61, 60, 60);
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 1px;
}

.nav-bar .logo span{
    color:green;
    font-weight: 1000;
    font-size: 3rem;
}
.nav-bar .items a{
    color:rgb(61, 60, 60);
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}

.nav-bar .items .join button{
    border: 1px solid white;
    background: transparent;
    padding: 4px 12px;
    color:rgb(61, 60, 60);
    font-size: 1rem;
    font-weight: 700;
}
.nav-bar .items button:hover{
    background: green;
    border: none;
}


/* Hero section styling */
.hero {
    height: 100vh;
    background-image: url("images/hero-img.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero .content {
    position: absolute;
    top: 30%;
}

.content h2 {
    color: #fff;
    font-size: 3rem;
    width: 600px;
    line-height: 65px;
}

.content .search-field {
    display: flex;
    align-items: center;
    height: 48px;
    width: 600px;
    position: relative;
    margin-top: 30px;
}

.search-field input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 1rem;
    border-radius: 4px;
}

.search-field .search-btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #1dbf73;
    color: #fff;
    border-radius: 0 4px 4px 0;
    transition: background 0.2s ease;
}

.search-field .search-btn:hover {
    background: #19a463;
}

.content .popular-tags {
    display: flex;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 25px;
}

.content .popular-tags .link {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
    list-style: none;
}

.popular-tags .link li a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px 12px;
    border-radius: 50px;
    transition: 0.2s ease;
}

.popular-tags .link li a:hover {
    background: #fff;
    color: #000;
}

@media (max-width: 900px) {
    .hero {
        background: none;
    }

    .hero .content {
        max-width: 470px;
        text-align: center;
    }

    .hero .content h2 {
        font-size: 2.5rem;
        width: 100%;
    }

    .hero .search-field {
        display: block;
        width: 100%;
    }

    .search-field .search-btn {
        position: relative;
        margin-top: 10px;
        width: 100%;
        border-radius: 4px;

    }

    :is(.hero .content .popular-tags, .navbar .links li:not(.btn)) {
        display: none;
    }
}





/* media queries */

